*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html {
    background-image: repeating-radial-gradient(#0000 0% 12%,#f8f3eb 13% 26% );
    background-size:100px 100px;
    padding-bottom: 20px;
    scroll-behavior: smooth;
}
a{text-decoration: none;}
.contenedor{
    width: 60%;
    margin: auto;
}
.contenedor-logo{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}
.contenedor-logo img{
    max-width:220px;
}
.contenedor-buscador{
    background-color: #313131;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    /* flex-direction: column;
    width:200px; */
}
.search{
    width: 190px;
    height: 35px;
    border-radius: 10px;
    padding: 2px 10px;
    /* font-size: 18px; */
    
}
.contenedor-buscador svg{
    cursor: pointer;
    margin-left: 10px;
}

.informacion{
    display: flex;
    flex-wrap: wrap;   
    border-radius: 30px;
    justify-content: space-between;
    margin-top: 5px;
}
.pikachu{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.pikachu img{
    width:300px;
}
.contenedor-img{
    width: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor-img img{
    width: 300px;
}
.contenedor-estadisticas{
    width: 50%;
    padding: 20px;
    padding-left: 40px;
    background-color: white;
    border-radius: 30px;
}
.nombre{
    /* text-align: center; */
    font-family: sans-serif;
}
.tipos{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    padding-top: 20px;
}
.tipos span{
    padding: 5px 15px;
    color: white;

    font-weight: bold;
    border-radius:25px;
}
ul{
    list-style: none;
    padding-top: 10px;
    width: 90%;
}
li{
    /* margin: 5px 0px; */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    text-shadow: 0 0 2px black;
    /* border: 1px solid rgb(196, 196, 196);
    background-color: #2D4495;
    box-shadow: 0 0 5px black;
    color: aliceblue; */

}
.ocultar{
    display: none;
}
.no-found{
    text-align: center;
    font-size: 30px;
}

/* ###### Preloader ########## */

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 55px);
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #ffffff;
    border-color: #f1c708 transparent #c50e0e transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

/* ############################## */
/* ###### Lista Pokemons ########## */
#lista_pokemon{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 10px;
    margin: 25px 0px;
}
.nombre-pokemon-card{
    color: #f8f3eb;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}
.pokemon-card{
    width: 200px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid rgb(66, 64, 64);
    border-radius: 10px;
    cursor: pointer;
}

.botones{
    display: flex;
    justify-content: center;
    align-items:center ;
    gap: 10px;
    padding: 10px;
}
#prev, #next{
    cursor: pointer;
}
#pag{
    font-weight: bold;
    font-style: italic;
    font-size: 25px;
    color: #060116;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


@media (max-width: 600px){
    .informacion{
        flex-direction: column;
    }
    .contenedor-img, .contenedor-estadisticas{width: 100%;}
    ul{
        width: 100%;
    }
    .contenedor{width:95%}
}
